
{
  "parser": "babel-eslint",
  "plugins": [],
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "forOf": true,
    "generators": false,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": false,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },

  "globals": {
    "TweenLite": true,
    "TweenMax": true,
    "TimelineLite": true,
    "TimelineMax": true,
    "Expo": true,
    "Cubic": true,
    "Quad": true,
    "Back": true,
    "Circ": true,
    "Quint": true,
    "Bounce": true,
    "Linear": true,
    "Elastic": true,
    "YT": true,
    "PIXI": true,
    "THREE": true
  },

  "rules": {
    "comma-dangle": [2, "never"],
    "no-cond-assign" : 1,
    "no-constant-condition": 1,
    "no-control-regex": 1,
    "no-debugger": 1,
    "no-dupe-keys": 1,
    "no-empty": 0,
    "no-empty-character-class": 1,
    "no-ex-assign": 1,
    "no-extra-boolean-cast": 0,
    "no-extra-parens": [2, "functions"],
    "no-extra-semi": 1,
    "no-func-assign": 1,
    "no-undef": 2,
    "no-inner-declarations": 0,
    "no-invalid-regexp": 1,
    "no-irregular-whitespace": 1,
    "no-negated-in-lhs": 1,
    "no-obj-calls": 1,
    "no-regex-spaces": 1,
    "no-sparse-arrays": 1,
    "no-unreachable": 1,
    "no-use-before-define": 0,
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "use-isnan": 1,
    "valid-jsdoc": 0,
    "valid-typeof": 1,
    "space-unary-ops": [1, {"words": true, "nonwords": false}],

    "camelcase": 1,
    "curly": 0,
    "comma-spacing": [2, {"before": false, "after": true}],
    "comma-style": [2, "last"],
    "eol-last": 1,
    "func-names": 0,
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "max-nested-callbacks": [2, 3],
    "max-depth": [2, 5],
    "max-params": [1, 4],
    "complexity": [2, 7],
    "new-cap": 1,
    "new-parens": 1,
    "no-array-constructor": 1,
    "no-lonely-if": 0,
    "no-mixed-spaces-and-tabs": 1,
    "no-nested-ternary": 0,
    "no-new": 0,
    "no-new-object": 1,
    "semi-spacing": 1,
    "no-spaced-func": 1,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-underscore-dangle": 0,
    "no-path-concat": 0,
    "no-alert": 0,
    "one-var": 0,
    "no-unused-expressions": 0,
    "padded-blocks": [2, "never"],
    "quotes": [1, "single"],
    "quote-props": [2, "as-needed"],
    "semi": 1,
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "spaced-comment": 2,
    "object-curly-spacing": [2, "never"],
    "wrap-regex": 0,
    "yoda": 2
  }
}
