/*======================================================================
    EXTENDS FULL-SIZE

    use with extend (ex: @extend .full-size)
    or directly in html as classes
======================================================================*/
.full-size
  width: 100%
  height: 100%

.full-size-absolute
  @extend .full-size
  position: absolute
  top: 0
  left: 0

.full-size-relative
  @extend .full-size
  position: relative
  top: 0
  left: 0