/*======================================================================
    EXTENDS SMOOTH-FONT

    use with extend (ex: @extend .smooth-font)
    or directly in html as classes
======================================================================*/
.smooth-font
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale