/*======================================================================
    EXTENDS UNGLITCH-3D

    use with extend (ex: @extend .unglitch-3d)
    or directly in html as classes
======================================================================*/
.unglitch-3d
  backface-visibility: hidden