/*======================================================================
    MIXINS & EXTENDS
======================================================================*/
@import "../../node_modules/stylus-media-queries/index.styl";
@import "../../node_modules/stylus-easing/index.styl";
@import "utils/*";

/*======================================================================
    BASE
======================================================================*/
@import "config/*";
reset();

html {
  background: black;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

#view {

}

/*======================================================================
    COMPONENTS
======================================================================*/
@import "../components/*";
@import "../layouts/*";
@import "../sections/*";
