/*======================================================================
    MIXINS
======================================================================*/
@import "../node_modules/stylus-media-queries/index.styl";
@import "../node_modules/stylus-easing/index.styl";

// Find a way to better fragment the following (and better location)
@import "utils/stylus-utils.styl";




/*======================================================================
    BASE
======================================================================*/
@import "config/*";
reset();

html {
    background: black;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

#view {

}

/*======================================================================
    COMPONENTS
======================================================================*/

@import "components/*";
@import "layouts/*";
@import "sections/*";
