/*======================================================================
    MIXINS
======================================================================*/
@import "../node_modules/stylus-media-queries/index.styl";
@import "../node_modules/stylus-easing/index.styl";
@import "utils/stylus-utils.styl";
@import "config/*";


/*======================================================================
    BASE
======================================================================*/
reset();

html {
    background: black;
    color: white;
    overflow-x: hidden;
    overflow-y: scroll;
}

#view {

}

/*======================================================================
    COMPONENTS
======================================================================*/

// @import "sections/*";
// @import "layout/*";
@import "components/*";
