html {
    box-sizing: border-box;
    border-collapse: collapse;
    line-height: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    border-collapse: inherit;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

*:not(body) {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

[hidden] {
    display: none !important;
}

body {
    position: relative;
}

a {
    color: inherit;
}

#view {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}