@include font-face('FontName', '../assets/fonts/FontName/fontname');

%font-name {
    font-family: 'FontName';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}